@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include size(100%,null);

}

.inputPadding{
    margin-bottom: 6%;
}
.buttonHandler {
    justify-self: center;
    margin-top: 4%;
}

