
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.inputPadding{
    margin-bottom: 2%;
}

.buttonHandler {
    justify-self: center;
    margin-top: 4%;
}

