@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';

.login {
  @include size(100%, 30px);
  background-color: $secondWhite;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  &::placeholder {
    text-transform: uppercase;
    @include fontSize($xs, 600, $middleGray);
  }
  @include tablet {
    @include size(375px, 50px);
    &::placeholder {
      @include fontSize($s, 400, $middleGray);
    }
  }
  @include desktop {
       @include size(375px, 50px);
    &::placeholder {
      @include fontSize($s, 400, $middleGray);
    }
  }
  
}
// .operation {
// }
