@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';



.first{

    @include size(123px,30px);
    @include fontSize($xs,600,$white);
    text-transform: uppercase;
    background-color: $default;
    border: none;
    border-radius: 20px;
    @include tablet{
        @include size(225px,47px);
        @include fontSize($l)
    }
}
// .firstReverse{

// }