
@import './variables';

@mixin size($width,$height) {
    width: $width;
    height: $height;
}
@mixin fontSize($size,$weight: 400,$color: $white) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
        @content;
    }
}



@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;   
    }
}
@mixin large-desktop {
    @media screen and (min-width: $large-desktop) {
        @content; 
    }
}