



//----------------------------------------------------------------
// COLORS

$default: rgba(108,99,255,1);
$white: rgba(255,255,255,1);
$secondWhite: rgba(254,254,254,1);
$lightGray: rgba(213,213,213,1);
$pink: rgba(255,101,132,1);
$green: rgba(101,222,72,1);
$black: rgba(0,0,0,1);




//----------------------------------------------------------------
// FONTS




//------------------------------
// RWD SIZES
$tablet: 480px;
$desktop: 1200px;
