



//----------------------------------------------------------------
// COLORS

$default: rgba(108,99,255,1);
$white: rgba(255,255,255,1);
$secondWhite: rgba(216,216,216,1);
$lightGray: rgba(213,213,213,1);
$middleGray: rgba(129,129,129,1);
$pink: rgba(255,101,132,1);
$green: rgba(101,222,72,1);
$black: rgba(0,0,0,1);
$warning: rgba(255,0,0,1);




//----------------------------------------------------------------
// FONTS

$xxs: 0.6rem;
$xs: 1rem;
$s: 1.3rem;
$l: 1.6rem;
$xxl: 3.8rem;


//----------------------------------------------------------------
// FONTS PARAGRAPH

$middle-paragraph: 1.5rem;


//------------------------------
// RWD SIZES
$tablet: 480px;
$desktop: 1200px;
$large-desktop: 2560px;
