@import '../../../style/abstracts/mixins';
@import '../../../style/abstracts/variables';



.wrapper{
    background-color: $white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    @include size(100%,100%);
    @include tablet{
        max-height: 608px;
    }
    @include desktop{
        max-height: 608px;
        max-width: 550px;
        place-self: center;
    }
    @include large-desktop{
        padding: 5%;
    }
}
.titleHandler {
    justify-self: center;
}
.padding{
    text-align: center;
}